*{
    font-family: "Raleway", sans-serif;
}

.page-title{

    color: #0c2e8a;

}

span{

    color:  #50d8af;

}
.nav-link-disabled{

    color:  #50d8af;

}

a{
    list-style-type: none;
    color:black;
}

.ps-mt-6{
    margin-top:79px;
}

.slider-title{

    color: #0c2e8a;

}

.style-slide{

    color:  #50d8af;
    text-decoration: underline; 
    

}

.carousel-caption{

    margin-bottom: 300px;

}

.fa-check-circle{

    color:  #50d8af;

}

.article-pic-text{

    padding-left: 25px;

}

.main-title{

    color: #0c2e8a;

}


.main{

    border: 3px outset #1C6EA4;

}